<div class="map-filters">
    <a href="#" class="chip {{ 'active' if not active_types else '' }}"
       onclick="window.clearTypes(); return false;">Tutti</a>
    {% for key, info in taxonomy.items() %}
    <a href="#" class="chip {{ 'active' if key in active_types else '' }}"
       data-type="{{ key }}" style="background-color: {{ info.color }}; border-color: {{ info.color }};"
       onclick="window.toggleType('{{ key }}'); return false;">
        {{ info.icon }} {{ info.label }}
    </a>
    {% endfor %}
</div>
<div id="leaflet-map" class="leaflet-map"></div>
<script type="application/json" id="map-data">{{ map_locations_json | safe }}</script>
<script>
    initReelMap("leaflet-map", "map-data", {{ active_types | tojson }});
</script>
